.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  float: right;
}

.toggle-button:hover .toggle-button__line {
  background: rgba(5, 55, 85);
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  border-radius: 3px;
  background: rgba(5, 55, 85, 0.5);
  transition: 0.3s all ease-in-out;
}
